@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-display: swap;
	src: url('/fonts/inter.woff2') format('woff2');
}

@font-face {
	font-family: 'JetBrains Mono';
	font-style: normal;
	font-display: swap;
	src: url('/fonts/jet-brains-mono.woff2') format('woff2');
}