html[data-theme='dark'] {
	--bg: hsl(220, 22%, 13%);
	--bg-surface: hsl(225, 22%, 18%);
	--bg-surface-2: hsla(235, 31%, 59%, 0.2);
	--bg-titlebar: hsl(218, 35%, 6%);
	
	--primary: hsl(194, 88%, 60%);
	--primary-hsl: 194, 88%, 60%;

	--border: hsl(212, 9%, 30%);

	/* Scrollbar */
	--clr-scrollbar-thumb: hsla(0, 0%, 0%, 0.25);
}
